<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="mssql" connectionString="server=.;database=master;uid=admin;pwd=123456;" providerName="System.Data.SqlClient"/>
    <add name="sqlite" connectionString="Data Source=IdentityServer.db" providerName="System.Data.SQLite"/>
    <add name="oracle"
        connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.170)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=test)));User ID=test;Password=test;POOLING=True;CONNECTION TIMEOUT=30;"
        providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="mysql" connectionString="Data Source=localhost;Database=test;User Id=test;Password=123456;" providerName="MySqlConnector"/>
</connectionStrings>