<#@ template language="C#" hostSpecific="true" debug="false" #>
<#@ output extension=".txt" #>
<#@ include file="../TemplateFileManager.ttinclude" #>
<# 
	CustomHost host = (CustomHost)(Host); 
	var table = host.Table;
#>

<# 
foreach(var nameSpace in host.StandardImports)
{
#>
using <#= nameSpace #><#
}
#>

//<#= host.TemplateFile #>

<# 
foreach(var refAssembly in host.StandardAssemblyReferences)
{
#>
// <#= refAssembly #>
<#
}
#>
<#= AppDomain.CurrentDomain.FriendlyName #>
