<#@ template language="C#" hostSpecific="true" debug="false" #>
<#@ output extension=".txt" #>
<#@ include file="../TemplateFileManager.ttinclude" #>
<# 
	CustomHost host = (CustomHost)(Host); 
	var table = host.Table;
	var manager = Manager.Create(host, GenerationEnvironment);
	manager.StartNewFile(table.DisplayName + ".txt", host.GetValue("OutputPath").ToString() + "\\Test");
#>

<# 
foreach(var nameSpace in host.StandardImports)
{
#>
using <#= nameSpace #><#
}
#>

//<#= host.TemplateFile #>

<# 
foreach(var refAssembly in host.StandardAssemblyReferences)
{
#>
// <#= refAssembly #>
<#
}
#>
<#= AppDomain.CurrentDomain.FriendlyName #>
<# 
	manager.EndBlock(); 
	manager.Process(true);
#>