<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="2.14.0" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.105.1" targetFramework="net40" />
</packages>