<#@ template language="C#" hostSpecific="true" debug="false" #>
<#@ output extension=".txt" #>
<# 
	CustomHost host = (CustomHost)(Host); 
#>

<# 
foreach(var nameSpace in host.StandardImports)
{
#>
using <#= nameSpace #><#
}
#>

//<#= host.TemplateFile #>

<# 
foreach(var refAssembly in host.StandardAssemblyReferences)
{
#>
// <#= refAssembly #><#
}
#>